@media (min-width: 992px) and (max-width: 1400px) {
  .container-padding {
    padding: 0px 30px;
  }
}
@media (max-width: 992px) {
  .section-padding {
    padding: 60px 0px;
  }
  .navbar {
    padding: 10px 10px;
  }
  .navbar-nav .nav-link {
    padding: 14px 20px;
    border-right: 0px;
  }
  .site-navigation {
    padding: 5px 0px;
  }
  .section-heading {
    margin-bottom: 30px;
  }
  .navbar-toggler {
    background: #DC5F00;
    border-radius: 6.5px;
  }
}
@media (max-width: 768px) {
  .banner .banner-content h1 {
    font-size: 40px;
    line-height: 60px;
  }
  .banner-content ul {
    display: none;
    text-align: left;
    margin-top: 8px;
  }
  .banner-content ul li {
    display: block;
    margin-top: 10px;
  }
  .banner-content ul li:first-child {
    margin-top: 0;
  }
  .banner-content ul li::after {
    display: none;
  }
  .header-contact li {
    float: none;
    text-align: center;
  }
  .header-top {
    padding: 10px 0px;
  }
  .header-right {
    float: none !important;
    text-align: center;
    margin-top: 10px;
  }
  .header-btn {
    margin-left: 0px;
  }
  .header-contact li:last-child {
    padding-left: 0px;
  }
  .section-heading h3 {
    font-size: 32px;
  }
  .navbar-toggler {
    background: #DC5F00;
    border-radius: 6.5px;
  }
}
@media (max-width: 480px) {
  .site-navigation {
    padding: 10px 10px;
  }
  .navbar-nav .nav-link {
    padding: 14px 20px;
  }
  .header-contact li {
    float: none;
    text-align: center;
  }
  .header-top {
    padding: 10px 0px;
  }
  .header-right {
    float: none !important;
    text-align: center;
    margin-top: 10px;
  }
  .header-btn {
    margin-left: 0px;
  }
  .header-contact li:last-child {
    padding-left: 0px;
  }
  .banner .banner-content h1 {
    font-size: 32px;
    line-height: 40px;
  }
  .banner .banner-content .btn {
    margin-bottom: 10px;
  }
  .banner {
    padding: 87px 0px 150px;
  }
}
