:root{
  --at-danger: #d03f3f;
  --at-danger-text-emphasis: #bb3939;
  --at-danger-rgb: 208, 63, 63;
}
body, html {
  width: 100%;
  height: 100%;
}
::-webkit-scrollbar {
  width: 13px;
  background: black

}
::-webkit-scrollbar-thumb {
  background: rgb(77, 74, 74);
  border-radius: 5px;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(238, 122, 122, 0);
}
body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 19px;
  line-height: 30px;
  margin: 0;
  text-align: left;
  background-color: #2D3250;
  font-weight: 400;
  color: #2b2a2a;
  overflow-x: hidden;
}
p {
  color: #F7F7F7;
  font-family: "Ubuntu", sans-serif;
  line-height: 28px;
  font-size: 19px;
}

/*--------------------
 TYPOGRAPHY
-----------------*/
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poetsen One", sans-serif;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 0px;
  color: #D36B00;
}
.h1,
h1 {
  font-size: 46px;
}
.h2,
h2 {
  font-size: 32px;
}
.h3,
h3 {
  font-size: 28px;
}
.h4,
h4 {
  font-size: 22px;
}
.h5,
h5 {
  font-size: 18px;
}
.h6,
h6 {
  font-size: 16px;
}
.text-sm {
  font-size: 14px;
}

.h1 a,
.h2 a,
.h3 a,
.h4 a,
.h5 a,
.h6 a,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #07294D;
}

.h1 a:hover,
.h2 a:hover,
.h3 a:hover,
.h4 a:hover,
.h5 a:hover,
.h6 a:hover,
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #0077b5;
}

/*-------------------
BUTTONS STYLE
----------------=----*/
.btn {
  font-weight: 700;
  position: relative;
  text-transform: capitalize;
  padding: 16px 30px;
  border-radius: 5px;
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  border: 1px solid transparent;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  transition: all 0.2s ease-in-out;
}
.btn:focus {
  box-shadow: none !important;
}
.btn-main {
  background: #0077b5;
  color: #fff;
  border-color: #0077b5;
}
.btn-main:hover {
  background: #245a78;
  border-color: #245a78;
  color: #fff;
}
#logout{
  background: #DC6B19;
  color: #fff;
  border: none;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
}
#logout:hover{
  color: #fff;
  background: #c30202;
  transform: scale(1.1);
}
#find_armstrong_num{
  background: #DC6B19;
  color: #fff;
  border: none;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.9);
}
#find_armstrong_num:hover{
  transform: scale(1.1);
}
.btn-clear{
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.9);
}
.btn-clear:hover{
  transform: scale(1.1);
}
.btn-small {
  padding: 11px 24px;
}
.btn-small i {
  margin-right: 5px;
}
.alert-container {
  position: fixed;
  width: 100%;  
  top: 80px;
  right: 50px;
  z-index: 9999;
  max-width: 400px;
}
.alert-container > .alert {
  width: 100% !important;
}
.alert {
  --at-alert-bg: transparent;
  --at-alert-padding-x: 1.25rem;
  --at-alert-padding-y: 0.8rem;
  --at-alert-margin-bottom: 1rem;
  --at-alert-color: inherit;
  --at-alert-border-color: transparent;
  --at-alert-border: var(--at-border-width) solid var(--at-alert-border-color);
  --at-alert-border-radius: 0.375rem;
  --at-alert-link-color: inherit;
  position: relative;
  padding: var(--at-alert-padding-y) var(--at-alert-padding-x);
  margin-bottom: var(--at-alert-margin-bottom);
  color: var(--at-alert-color);
  background-color: var(--at-alert-bg);
  border: var(--at-alert-border);
  border-radius: var(--at-alert-border-radius);
}
.alert-heading {
  color: inherit;
}
.alert-link {
  font-weight: 700;
  color: var(--at-alert-link-color);
}
.alert-dismissible {
  padding-right: 3.75rem;
}
.alert-dismissible .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 1rem 1.25rem;
}
.alert-success {
  --at-alert-color: var(--at-success-text-emphasis);
  --at-alert-bg: var(--at-success-bg-subtle);
  --at-alert-border-color: var(--at-success-border-subtle);
  --at-alert-link-color: var(--at-success-text-emphasis);
}
.alert-warning {
  --at-alert-color: var(--at-warning-text-emphasis);
  --at-alert-bg: var(--at-warning-bg-subtle);
  --at-alert-border-color: var(--at-warning-border-subtle);
  --at-alert-link-color: var(--at-warning-text-emphasis);
}
.alert-danger {
  --at-alert-color: var(--at-danger-text-emphasis);
  --at-alert-bg: var(--at-danger-bg-subtle);
  --at-alert-border-color: var(--at-danger-border-subtle);
  --at-alert-link-color: var(--at-danger-text-emphasis);
}
.text-bg-success {
  color: #fff !important;
  background-color:  rgba(51, 153, 0, 0.5) !important;
  backdrop-filter: blur(2px) !important;
}
.text-bg-warning {
  color: #fff !important;
  background-color:  rgba(255, 204, 0, 0.5) !important;
  backdrop-filter: blur(2px) !important;
}
.text-bg-danger {
  color: #fff !important;
  background-color:  rgba(204, 51, 0, 0.5) !important;
  backdrop-filter: blur(2px) !important;
}
.fade {
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
@media (prefers-reduced-motion: reduce) {
  .fade {
    -webkit-transition: none;
    transition: none;
  }
}
.fade:not(.show) {
  opacity: 0;
}
.btn-close {
  --at-btn-close-color: var(--at-secondary-color);
  --at-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='var%28--at-secondary-color%29'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
  --at-btn-close-opacity: 0.5;
  --at-btn-close-hover-opacity: 0.8;
  --at-btn-close-focus-shadow: none;
  --at-btn-close-focus-opacity: 1;
  --at-btn-close-disabled-opacity: 0.25;
  --at-btn-close-white-filter: invert(1) grayscale(100%) brightness(200%);
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em 0.25em;
  color: var(--at-btn-close-color);
  background: transparent var(--at-btn-close-bg) center/1em auto no-repeat;
  border: 0;
  border-radius: 0.375rem;
  opacity: var(--at-btn-close-opacity);
}
.btn-close:hover {
  color: var(--at-btn-close-color);
  text-decoration: none;
  opacity: var(--at-btn-close-hover-opacity);
}
.btn-close:focus {
  outline: 0;
  -webkit-box-shadow: var(--at-btn-close-focus-shadow);
  box-shadow: var(--at-btn-close-focus-shadow);
  opacity: var(--at-btn-close-focus-opacity);
}
.btn-close.disabled,
.btn-close:disabled {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: var(--at-btn-close-disabled-opacity);
}
.btn-close-white {
  -webkit-filter: var(--at-btn-close-white-filter);
  filter: var(--at-btn-close-white-filter);
}
[data-bs-theme="dark"] .btn-close {
  -webkit-filter: var(--at-btn-close-white-filter);
  filter: var(--at-btn-close-white-filter);
}
a {
  color: #0077b5;
  outline: none;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
a:hover {
  color: #01376d;
  outline: none;
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
a:focus, a:visited {
  outline: none;
}
ul, ol {
  margin-bottom: 0px;
  list-style-type: none;
  padding-left: 0px;
}
.pt-100 {
  padding-top: 100px;
}
.pb-100 {
  padding-bottom: 100px;
}
.form-control {
  transition: all 0.3s ease-in-out;
}
.form-control:focus {
  box-shadow: none;
}

/*====================
BANNER AREA
======================*/
.section-padding {
  padding: 50px 0px;
}
.page-header {
  padding: 200px 0px;
  background: #F4FDFF;
  position: relative;
  background: url("../images/contact_banner.jpg") no-repeat;
  background-size: cover;
  background-position: 0px 30%;
  text-align: center;
  font-family: 'Poetsen One', sans-serif;
  border-radius: 8px;
}
.page-header:before {
  position: absolute;
  content: "";
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  opacity: .9;
  border-radius: 8px;
}
.page-header .page-header-content h1 {
  color: #fff;
  font-size: 60px;
  text-transform: capitalize;
}
.page-header .page-header-content ul li {
  margin-bottom: 35px;
  font-size: 36px;
  line-height: 32px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 1em;
}
.page-header .page-header-content ul li a {
  color: #fff;
}
.bg-grey {
  background: #F7F5F4;
}
.center-heading {
  text-align: Center;
}
.center-heading .subheading {
  padding-left: 0px;
  color: #FF1949;
}
.center-heading .subheading:before {
  display: none;
}
.center-heading h3 {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.center-heading h3:before {
  position: absolute;
  content: "";
  left: 0px;
  right: 0px;
  width: 40px;
  height: 2px;
  bottom: 0px;
  margin: 0px  auto;
  background: #FF1949;
}

/*=======================
HEADER TOPBAR
============================*/
.header-top {
  background: #000;
  padding: 5px 0px;
}
.header-contact li {
  color: #DC5F00;
  font-size: 18px;
}

.header-btn {
  margin-left: 35px;
  display: inline-block;
  vertical-align: middle;
}
.header-btn .btn {
  color: #fff;
  background: #DC6B19;
  border: none;
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 400;
}

.btn-danger {
  --at-btn-bg: var(--at-danger);
  --at-btn-border-color: var(--at-danger);
  --at-btn-hover-bg: var(--at-danger-text-emphasis);
  --at-btn-hover-border-color: var(--at-danger-text-emphasis);
  --at-btn-focus-shadow-rgb: var(--at-danger-rgb);
  --at-btn-active-bg: var(--at-danger-text-emphasis);
  --at-btn-active-border-color: var(--at-danger-text-emphasis);
}

/*-------------------
  NAVIGATION / #navbar
----------------------*/
/*-------------------
  MENU
----------------------*/
.site-navigation {
  border-bottom: 3px solid #DC5F00;
  border-radius: 8px;
  padding: 8px 0px;
}
.navbar {
  padding: 0px;
}
.navbar-nav .nav-link {
  padding-left: 20px !important;
  padding-right: 20px !important;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 20px;
  color: #fff;
}
.navbar-nav .nav-link:hover {
  color: #DC5F00;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  content: "";
  vertical-align: middle;
  background: no-repeat 50%;
  background-size: 100% 100%;
}
.header-form {
  position: relative;
}
.header-form .form-control {
  height: 50px;
  background: rgba(0, 119, 181, 0.3);
  color: #000;
  border: 0px solid transparent;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.4);
}
.header-form i {
  position: absolute;
  right: 14px;
  top: 15px;
}

/* ================
 MENU TRANSPARENT
================*/
.menu-2 .navbar-nav .nav-link {
  text-transform: uppercase;
  font-size: 15px;
}
.menu_fixed{
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 999;
  background-color: rgb(45, 50, 80, 0.7);
  border-bottom: 2px solid #DC5F00;
}
.nav-tp {
  border-bottom: 1px solid rgba(255, 255, 255, 0.03);
  padding: 12px 0px;
  z-index: 999;
  margin-bottom: -100px;
  position: relative;
}
.nav-tp .navbar-nav .nav-link {
  color: #fff;
}
.nav-tp .navbar-brand h3 {
  color: #fff;
}
.nav-tp.menu_fixed{
  background: #263B5E;
  border-color: transparent;
}
.nav-link.active {
  color: #DC5F00;
}

/* ================
 BANNER
================*/
.banner {
  background: url("../images/banner.jpg") center center no-repeat;
  background-size: cover;
  padding-bottom: 180px;
  position: relative;
  padding-top: 100px;
  border-radius: 8px;
  transition: .3s ease-in-out;
}
.banner::before {
  position: absolute;
  content: "";
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: .9;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  /* backdrop-filter: blur(2px); */
}
.banner .banner-content h1 {
  font-size: 56px;
  margin: 15px 0px 45px;
  line-height: 65px;
  letter-spacing: -1.3px;
  color: #fff;
}
.banner-content ul li{
  display: flex;
  align-items: center;
  color: #ffffff;
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.6px;
  margin: 0 5px;
  padding: 0 5px;
  position: relative;
  z-index: 1;
}
.banner-content ul li::after {
  position: absolute;
  right: -5px;
  top: 6px;
  content: "";
  height: 15px;
  width: 1px;
  background: rgba(255, 255, 255, 0.6);
}
.banner-content ul {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.banner-content ul li i {
  color: #ffb606;
  font-size: 24px;
  margin-right: 10px;
}
.banner-content ul li:last-child::after {
  display: none;
}
.banner .banner-content p {
  margin-bottom: 35px;
  color: #fff;
  opacity: .8;
  font-size: 18px;
  line-height: 32px;
}
#breadcrumps{
  color: #0077b5;
}
#breadcrumps:hover{
  color: #3bc0c3;
  border-bottom: 3px solid #3bc0c3;
  transition: .07s ease-in-out;
}
.banner .banner-content .subheading {
  color: #fff;
  margin-bottom: 0px;
}
.subheading {
  text-transform: uppercase;
  font-size: 15px;
  color: #FF1949;
  font-weight: 600;
  letter-spacing: 2px;
  position: relative;
  padding-left: 50px;
  display: inline-block;
}
.subheading:before {
  position: absolute;
  content: "";
  left: 0px;
  width: 40px;
  height: 2px;
  background: #0077b5;
  top: 0px;
  bottom: 0px;
  margin: auto 0px;
}

/*========================
 Contact Section
============================*/
.contact-info .contact-item {
  margin-bottom: 30px;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-right: 30px;
}

.contact-info .contact-item p {
  margin-bottom: 10px;
  color: #FF1949;
}

.contact-heading {
  text-align: center;
  padding-top: 100px;
  margin-bottom: 40px;
}

.contact__form .form-control {
  height: 55px;
  border-radius: 46px;
  padding-left: 20px;
  border: 2px solid #eee;
  background: #eee;
}

.contact__form .form-control:hover {
  border: solid 3px #D36B00;
}

.contact__form .form-group {
  margin-bottom: 25px;
}

.contact__form .form-group > label{
  color: #D36B00;
}

.contact__form textarea.form-control {
  height: auto;
  border-radius: 15px;
  padding-top: 15px;
}

.contact__form label {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #385777;
}


/*=======================
ARMSTRONG FORM SECTION
========================*/
#armstrong-form-section{
  margin-top: -220px;
  position: relative;
}

/* ====================
ABOUT SECTION
======================*/
.about-section .section-heading {
  margin-bottom: 30px;
}
.about-content .btn {
  margin-top: 10px;
}
.about-text-block {
  position: relative;
  background: #F9F9F9;
  padding: 25px 30px 15px 95px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.about-text-block i {
  position: absolute;
  font-size: 40px;
  left: 25px;
  top: 26px;
  color: #FF1949;
}
.about-text-block h4 {
  margin-bottom: 10px;
  font-size: 20px;
}
.about-img2 {
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 8px;
  transition:.4s ease-in-out;
}
.about-img2 img{
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition:.4s ease-in-out;
}
.about-img2:hover img{
  transform: scale(1.1);
  transition:.3s ease-in-out;
}
#female-teacher{
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 50%;
  transition:.4s ease-in-out;
}
.about-2 p {
  margin-bottom: 30px;
}

/* ====================
FOOTER SECTION
======================*/
.footer {
  background: #100f1f;
  padding: 80px 0px 0px;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
}
.footer .footer-widget .widget-title {
  color: #fff;
  margin-bottom: 20px;
  font-size: 22px;
}
.footer .footer-widget p {
  color: rgba(255, 255, 255, 0.8);
}
.footer .footer-contact ul {
  margin-top: 30px;
}
.footer .footer-contact ul li {
  margin-bottom: 20px;
}
.footer .footer-contact ul li i {
  color: #D36B00;
  float: left;
  margin-top: 7px;
  min-width: 30px;
}
.footer .footer-contact ul li div {
  overflow: hidden;
  font-size: 14px;
}
.footer .footer-contact ul li div strong {
  display: block;
  text-transform: capitalize;
  font-size: 16px;
}
.footer .footer-links li {
  padding: 5px 0px;
}
.footer .footer-links a {
  color: rgba(255, 255, 255, 0.8);
}
.footer .footer-links a:hover {
  color: #0077b5;
}
.footer .footer-socials {
  margin-top: 30px;
}
.footer .footer-socials a{
  width: 40px;
  height: 40px;
  background: #fff;
  display: inline-block;
  text-align: center;
  padding-top: 6px;
  font-size: 14px;
  color: #222;
  border-radius: 100%;
}
.footer-btm {
  margin-top: 30px;
  padding: 20px 0px 25px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-btm .copyright p {
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 0px;
}
.fixed-btm-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
}
.fixed-btm-top .scroll-to-top {
  display: inline-block;
  text-align: center;
  height: 60px;
  background: #DC5F00;
  color: #fff;
  width: 60px;
  border-radius: 100%;
  padding-top: 15px;
  opacity: 0;
}
.scroll-to-top.reveal {
  opacity: 1;
  visibility: visible;
}